# Build directories
/build/
/out/
/bin/

# Gradle files
.gradle/
/gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
/.springBeans/
/sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Environment and local config files
.env
/src/main/resources/application-local.properties
/src/test/resources/application-test.properties

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Other
HELP.md
